*{
    padding: 0;
    margin: 0;
}

.name{
    font-size: 24px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 65px 24px 65px;
    background: #827397;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
}

.hero{
    background: #827397;
    padding: 12px 65px 12px 65px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 42px;
}

button{
    background: #363062;
    width: 85px;
    height: 40px;
    border: 130px;
    border-radius: 60px;
}

.image{
    display: flex;
    justify-content: center;
}