*{
    padding: 0;
    margin: 0;
}

html{
    font-family: 'Roboto', sans-serif;
}

section{
    height: 300px;
    display: block;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937;
    color: white;
    padding: 12px 100px 12px 100px;
}

ul{
    list-style-type: none;
    gap: 16px;
    display: flex;
}

a{
    text-decoration: none;
    color: white;
}

.landing{
    display: flex;
    background: #1f2937;
    padding: 100px;
    line-height: 42px;
    color: white;
    justify-content: space-between;
}

.landing h1{
    font-size: 42px;
}

.landing p{
    font-size: 18px;
}

.landing img{
    border: 25px;
    border-radius: 40px;
}

button{
    width: 85px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3882f6;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
}

.info{
    padding: 42px 100px 42px 100px;
    width: auto;
}

.cards{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    gap: 80px;
    text-align: center;
}

.cards img{
    aspect-ratio: 2/2;
    border-radius: 20px;
}

.info h1{
    text-align: center;
    font-size: 42px;
}

.quote{
    background: #e5e7eb;
    font-size: 32px;
    padding: 100px 100px 0 100px;
    align-items: center;
}

.quote p{
    font-style: italic;
}

.author{
    font-weight: bold;
    text-align: right;
}

.signup{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 75%;
    width: 75%;
    background: #3882f6;
    font-size: 16px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 32px;
}

footer{
    text-align: center;
    background: #1f2937;
    color: white;
    padding: 12px 100px 12px 100px;
}